@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --font-Montserrat: "Montserrat", sans-serif;
    --font-Krona-One: "Krona One", sans-serif;;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--color-primario);
    box-sizing: border-box;    
}

.header{
    padding: 2% 0px 0px 15%;
}

.header__contenido{
    display: flex;
    gap: 80px;
}

.header__contenido__menu{
    font-family: var(--font-Montserrat);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-terciario);
    text-decoration: none;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.3% 15%;    
    gap: 80px;
}

.main__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main__contenido__titulo{
    font-family: var(--font-Krona-One);
    font-size: 2.25rem;
    color: var(--color-secundario);
}

.main__contenido__titulo__destaque{
    color: var(--color-terciario);
}

.main__contenido__texto{
    font-family: var(--font-Montserrat);
    font-size: 1.5rem;
    color: var(--color-secundario);
}

.main__botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.main__botones__subtitulo{
    font-family: var(--font-Krona-One);
    font-size: 1.5rem;
    color: var(--color-secundario);
}

.main__botones__enlaces{
      display: flex;
      justify-content: center;
      gap: 16px;
      border: 2px solid var(--color-terciario);
      width: 50%;
      border-radius: 8px;
    padding: 16px 0px;
    align-items: center;    
    font-family: var(--font-Montserrat);
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
      color: var(--color-secundario);
}

.main__botones__enlaces:hover{
    background-color: var(--color-hover);
}

.footer{
    background-color: var(--color-terciario);
    padding: 23.64px 0px;
}

.footer__texto{
    text-align: center;
    font-family: var(--font-Montserrat);
    font-size: 1.5rem;
}

@media (max-width: 1250px){
    .header{
        padding: 10%;
    }

    .header__contenido{
        justify-content: center;
    }

    .main{
        flex-direction: column-reverse;
    }

    .main__contenido{
        width: auto;
    }

    .presentacion__imagen{
        width: 80%;
    }

    .main__botones__enlaces{
        width: 50%;
        padding: 8px 0px;
        font-size: 1rem;
    }
}